body {

}

h2 {
    display: inline-block;
    margin-top: 20%;
    margin-left: 10%;
    font-family: "Segoe UI Black", serif;
    font-size: 6vw;
    color: #008675;
    text-shadow: -2px -2px 4px #000;
}

.typing {
    margin-left: 10%;
    display: inline-block;
}

p {
    font-size: 2.47vw;
    font-family: Arial, serif;
    color: #fff;
    border-right: 4px solid #fff;

}
