@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/******************************************************************
	CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	width: 100%;
	height: 100%;
	letter-spacing: 0.025em;
	-webkit-font-smoothing: subpixel-antialiased;
	background-color: black;
}

/******************************************************************
	General
******************************************************************/
b {
	font-weight: bold;
}
a.navbar-brand{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
}
a.nav-link{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
}
span p {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
}
.hidden {
	display: none;
}
.block {
	display: block;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

/******************************************************************
	Colors
******************************************************************/
.white {
	color: #FFF;
}
.color {
	color: #6093e7;
}
.dark-gray {
	color: #4b4b4b;
}
.mid-gray {
	color: #ababab;
}
.light-gray {
	color: #cfcfcf;
}

/******************************************************************
	Main
******************************************************************/
.content {
	max-width: 960px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

blockquote {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	font-size: 28px;
	line-height: 60px;
	width: 100%;
	background-color: #060606;
	height: 70px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #ffffff;
	font-weight: 300;
	font-style: italic;
}
blockquote:before {
	content: '"';
	font-weight: bold;
	font-size: 36px;
}
blockquote:after {
	content: '"';
	font-weight: bold;
	font-size: 36px;
}
div.pagetitle {
	width: 100%;
	background-color: #6093e7;
	height: 120px;
}
div.pagetitle h1 {
	line-height: 120px;
	color: #FFF;
	text-align: center;
}
p.main {
	font-size: 15px;
	text-align: center;
	margin: 50px auto;
	font-weight: 400;
}
div.section.divider {
	width: 100%;
	height: 40px;
	border-top: 1px solid green;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
}
div.section.divider.single {
	border-top: 1px solid #ffffff;
	margin-top: 150px;
}
div.section.divider h2 {
	font-weight: 400;
	color: #ffffff;
	background-color: #000;
	margin-top: -20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
}
a.scroll {
	width: 100%;
	display: block;
}
div.icon {
	font-size: 80px;
	color: #FFF;
}
.front div.icon {
	line-height: 210px;
	text-align: center;
}

/******************************************************************
	Hero Images
******************************************************************/
.hero {
	width: 100%;
	height: 100%;
}
.home.hero {
	background-image: url(../img/home_bg.jpg);
	background-size: cover;
}
.overlay {
	background-image: url(../img/overlay_light_diagonal.png);
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: repeat;
}
.herowrapper {
	position: absolute;
	top: 50%;
	height: 40px;
	margin-top: -40px;
	width: 100%;
}
.herowrapper h1 {
	text-align: center;
	color: #FFF;
	font-size: 40px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
}
.herowrapper b {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0px 5px;
	color: green;
}
a.scrolldown {
	display: block;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 8pt;
	color: white;
}

a.scrolldown:hover {
	text-decoration: none;
}

a.scrolldown:hover h3{
	color: green;
	text-decoration: none;
}

.scrolldown .icon {
	font-size: 20px;
	text-align: center;
}
.scrolldown h3 {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 300;
}

/******************************************************************
	Footer
******************************************************************/
footer.main {
	height: 195px;
	width: 100%;
	margin-top: 60px;
	text-align: center;
}

footer.main h6.copyright {
	color: #FFF;
	line-height: 50px;
	background-color: #272727;
}

/******************************************************************
	About Us
******************************************************************/
div.person {
	width: 100%;
	margin: 20px auto;
}
div.person div.image {
	width: 30%;
	height: 250px;
	float: left;
	margin-bottom: 40px;
}
div.person div.info h2 {
	width: 50%;
	float: right;
	padding: 0px 0px 0px 0px ;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

div.person div.info p {
	width: 50%;
	float: right;
	padding: 15px 30px 0px 0px ;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	font-size: 10pt;
}

div.person div.info2 {
	width: 100%;
	padding-top: 300px;
}
div.person div.info2 p {
	float: none;
	padding: 15px 30px 0px 0px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	font-size: 12pt;
	text-align: center;
}

div.person div.image img {
	position: absolute;
}
div.icons {
	padding-top: 50px;
	width:100%;
}
div.icons h2{
	width: 100%;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	text-align: center
}
div.icons a.icon {
	background-image: url(../img/iconlogos.png);
	background-repeat: no-repeat;
	display: block;
	width: 100px;
	height: 100px;
	float: left;
	margin-top: 25px;
	margin-left: 11.5%;
}
div.icons a.icon.intellij {
	background-position: 0 -100px;
}
div.icons a.icon.intellij:hover {
	background-position: 0 0;
}
div.icons a.icon.css {
	background-position: -100px -100px;
}
div.icons a.icon.css:hover {
	background-position: -100px 0;
}
div.icons a.icon.js {
	background-position: -200px -100px;
}
div.icons a.icon.js:hover {
	background-position: -200px 0;
}
div.icons a.icon.html {
	background-position: -300px -100px;
}
div.icons a.icon.html:hover {
	background-position: -300px 0px;
}
div.icons a.icon.java {
	background-position: -400px -100px;
}
div.icons a.icon.java:hover {
	background-position: -400px 0px;
}
div.icons a.icon.github {
	background-position: -500px 0px;
}
div.icons a.icon.github:hover {
	background-position: -500px -100px;
}
div.icons a.icon.spring {
	background-position: -600px -100px;
}
div.icons a.icon.spring:hover {
	background-position: -600px 0px;
}
/******************************************************************
	Qualifications
******************************************************************/
div.qualifications {
	width: 100%;
	margin: 20px auto;
}

div.qualifications2 {
	width: 100%;
	margin: 20px auto;
	float: left;
	padding-top: 25px;
}

div.qualifications div.gcse {
	width: 40%;
	float: left;
	padding-top: 10px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 15px;
	border: 3px solid red;
	border-radius: 25%;
}
div.qualifications div.gcse:hover {
	border: 7px solid red;
	border-radius: 25%;
}

div.qualifications div.gcse h2{
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	font-size: 18pt;
	font-weight: bold;
}
div.qualifications div.gcse:hover h2 i{
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

div.qualifications div.gcse p{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	font-size: 10pt;
}

div.qualifications div.alevel {
	width: 40%;
	float: right;
	padding-left: 5%;
	padding-top: 10px;
	padding-bottom: 15px;
	border: 3px solid green;
	border-radius: 25%;
}

div.qualifications div.alevel:hover {
	border: 7px solid green;
	border-radius: 25%;
}

div.qualifications div.alevel h2{
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	font-size: 18pt;
	font-weight: bold;
}
div.qualifications div.alevel:hover h2 i{
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

div.qualifications div.alevel p{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	font-size: 10pt;
}

div.qualifications2 div.university {
	width: 100%;
	padding-left: 50px;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 30px;
	border: 3px solid blue;
	border-radius: 25%;
}

div.qualifications2 div.university:hover {
	border: 7px solid blue;
	border-radius: 25%;
}

div.qualifications2 div.university h2{
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	font-size: 18pt;
	font-weight: bold;
}
div.qualifications2 div.university:hover h2 i{
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


div.qualifications2 div.university p{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	font-size: 11pt;
}

div.qualifications2 div.university h5{
	font-size: 11pt;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;

}

/******************************************************************
	Projects
******************************************************************/
div.chatbot-text {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 15px;
}
div.chatbot-text h2{
	font-size: 14pt;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
div.chatbot-text p{
	font-size: 11pt;
	padding-top: 20px;
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	text-decoration: none;
}
div.chatbot-images {
    width: 40%;
	float: right;
	padding-left: 30px;
	padding-top: 100px;
	padding-right: 0px;
	padding-bottom: 15px;
}
div.projects2 {
    width: 100%;
	padding-top: 620px;
	padding-bottom: 10px;
}
div.taskmanagertext{
	width: 40%;
	float: left;
}
div.taskmanagertext h2{
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
	padding-bottom: 10px;
}
div.taskmanagertext p{
    font-size: 11pt;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
div.websitetext{
	width: 40%;
	float: right;
}
div.websitetext h2{
	font-size: 14pt;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}
div.websitetext p{
	font-size: 11pt;
	padding-top: 20px;
	padding-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
.carousel-inner img {
	margin: auto;
}
div.projects3 {
	width: 100%;
	padding-top: 500px;
	padding-bottom: 10px;
}
div.scrabble-images {
	width: 40%;
	float: left;
	padding-left: 0px;
	padding-top: 70px;
	padding-right: 0px;
	padding-bottom: 15px;
}

div.scrabbletext {
	width: 40%;
	float: right;
	padding-left: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 15px;
}
div.scrabbletext h2{
	font-size: 14pt;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}
div.scrabbletext p{
	font-size: 11pt;
	padding-top: 20px;
	padding-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
/******************************************************************
	Contact
******************************************************************/
div.contact{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	font-size: 12pt;
	font-weight: bold;
}

div.contact h2{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
	font-size: 16pt;
	font-weight: bold;
}
div.contact hr.green{
	border-top: 2px solid white;
	width: 100%;
}
div.contact img{
	padding-bottom: 15px;
}

div.contact p{
	font-size: 12pt;
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
	color: #ffffff;
}

div.contact p.bold{
	font-weight: bold;
	font-size: 14pt;
}
div.contact a{
	font-size: 12pt;
	color: white;
}
div.contact a:hover {
	color: green;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
}
div.contact div.phone:hover {
	color: green;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6em;
}
div.contact div.phone:hover p{
	color: green;
}
div.contact a:hover p{
	color:green;
}
div.contact div.row p{
	padding-bottom: 45px;
}
/******************************************************************
	Footer
******************************************************************/
.footer {
	width: 100%;
	margin-top: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: gray}

.footer h6 {
	line-height: 50px;
	color: #FFF;
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 12px;
}

/******************************************************************
	Header
******************************************************************/
div.navbardiv {
	width: 100%;
}

/******************************************************************
	Mobile
******************************************************************/
@media all and (max-width: 480px) {
	div.person div.image {
		width: 100%;
		height: 250px;
		float: none;
	}
	div.person div.info h2 {
		width: 100%;
		float: none;
		padding-top: 20px;
		font-family: 'Montserrat', sans-serif;
		line-height: 1.6em;
		color: #ffffff;
		text-decoration: none;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
	}
	div.person div.info p {
		width: 100%;
		float: none;
		padding-top: 20px;
		padding-left: 12%;
		font-family: 'Montserrat', sans-serif;
		line-height: 1.6em;
		color: #ffffff;
		font-size: 10pt;
		text-align: center;
	}
	div.person div.info2 {
		 width: 100%;
		 padding-top: 30px;
		padding-left: 12%;
	}
	div.person div.info p {
		width: 100%;
		float: none;
		font-family: 'Montserrat', sans-serif;
		line-height: 1.6em;
		color: #ffffff;
		font-size: 12pt;
		text-align: center;
	}
	div.icons {
		padding-top: 50px;
	}
	div.icons h2{
		width: 100%;
		font-weight: bold;
		font-family: 'Montserrat', sans-serif;
		line-height: 1.6em;
		color: #ffffff;
		text-decoration: none;
		font-size: 20px;
		text-align: center;
	}
	div.icons a.icon {
		background-image: url(../img/iconlogos.png);
		background-repeat: no-repeat;
		width: 100px;
		height: 100px;
		float: left;
		margin-top: 25px;
		margin-left: 11.5%;
	}

	div.qualifications div.gcse {
		width: 100%;
		float: none;
		padding-top: 25px;
		padding-left: 10%;
		padding-bottom: 25px;
		padding-right: 10%;
		margin-bottom: 40px;
		border: 3px solid red;
		border-radius: 25%;
	}
	div.qualifications div.alevel {
		width: 100%;
		float: none;
		padding-top: 25px;
		padding-left: 10%;
		padding-bottom: 25px;
		padding-right: 10%;
		border: 3px solid green;
		border-radius: 25%;
	}
	div.chatbot-text {
		width: 100%;
		float: none;
		padding-left: 0;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 5px;
	}
	div.chatbot-text h2{
		font-size: 14pt;
		padding-top: 0px;
		padding-bottom: 10px;
		font-family: 'Montserrat', sans-serif;
		line-height: 1.6em;
		color: #ffffff;
		text-decoration: none;
		font-weight: bold;
	}
	div.chatbot-text p{
		font-size: 11pt;
		padding-top: 0;
		padding-bottom: 10px;
		font-family: 'Montserrat', sans-serif;
		line-height: 1.6em;
		color: #ffffff;
		text-decoration: none;
	}
	div.chatbot-text h2, p{
		text-align: center;
	}

	div.projects2 {
		width: 100%;
		padding-top: 30px;
		padding-bottom: 10px;
	}

	div.chatbot-images {
		display: none;
	}
	blockquote {
		font-family: "Open Sans", Verdana, Arial, sans-serif;
		font-size: 24px;
		line-height: 60px;
		width: 100%;
		background-color: #060606;
		height: 70px;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 80px;
		margin-bottom: 20px;
		color: #ffffff;
		font-weight: 300;
		font-style: italic;
	}
	div.taskmanagertext h2{
		font-size: 14pt;
		padding-top: 0px;
		padding-bottom: 5px;
		font-family: 'Montserrat', sans-serif;
		line-height: 1.6em;
		color: #ffffff;
		text-decoration: none;
		font-weight: bold;
		text-align: center;
	}
	div.taskmanagertext{
		width: 100%;
		float: none;
		padding-bottom: 20px;
	}
	div.websitetext {
		width: 100%;
		float: none;
	}

	div.websitetext h2{
		font-size: 14pt;
		padding-top: 0;
		padding-bottom: 10px;
		font-family: 'Montserrat', sans-serif;
		line-height: 1.6em;
		color: #ffffff;
		text-decoration: none;
		font-weight: bold;
		text-align: center;
	}
	div.scrabbletext {
		width: 100%;
		float: none;
		padding-top:20px;
	}
}


